@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anuphan:wght@100&family=Montserrat:wght@300;400&display=swap');



html{
    font-family:'Montserrat', sans-serif;
    font-size: 20px;
}

h1{
    font-family: 'Abril Fatface', cursive;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.parallax{
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}





/* article */

#article img{
    width: 50%;
    padding: 72px;
}

#auteur img{
    width: 30%;
}

#auteur{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}


#article{
    margin-left:500px ;
}

#article h1{
    color: brown;
}

#article h2{
    color: blue;
}

#article h3{ 
    color: blue;
}

#auteur p{
    font-size: 12px;
}

#article a{
    border: 2px solid black;
    padding: 10px;
    background-color: blue;
    color: azure;
    margin: 10px;
}

#social-media{
    display: flex;
}




/* section à propos */

#about{
    padding: 5%;
    border: 2px solid pink;
    margin: 80px;
    box-shadow: 10px 5px 5px #fff;
    background-color: rgba(255, 255, 255, 0.7);
}

#àpropos{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    background-image: url(img/3892ddc66d8112551b93a9abf4e53d17.jpg);
}

#about-img img{
    margin-right: 70px;
}

#about img{
    width: 40%;
    margin: 0 30%;
    padding-top: 50px;
}

/* section contact */

#contact-form{
    background-image: url(img/3892ddc66d8112551b93a9abf4e53d17.jpg);
    height: 100vh;
}

#contact-box{
    width: 40%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7);
    margin: auto;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

#contact-box img{
    width: 20%;
}

body {
    font-family: 'montserrat';
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-nav {
    display: flex;
    justify-items: flex-end;
    
    list-style: none;

}
li {
    padding: 0 10px;
}

.social {
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    list-style: none;
    
}
.social1 {
    color: white;
    background-color: cornflowerblue; 
}
.social2 {
    color: white;
    background-color: dodgerblue;
}
.social3 {
    color: white;
    background-color: black;
}
.push {
    margin-left: auto;
    text-align: center
}   

.firstdi {
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}
.avant {
    display: flex;
    flex-direction: column ;
}

.second img {
    height: 200px;
    width: 350px;
}
.second { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
h1 {
   font-family: 'abril fatface'; font-size: 50px;
   color: fuchsia;
}
h2 {
    font-size: 30px;
}
.down {
    color: fuchsia;
    text-decoration: underline;
    text-decoration-color: fuchsia;
}
h3 {
    color: fuchsia;
    font-size: 20px;
    line-height: 5px;
}
.date {
    font-size: 10px;
}
.texte {
    font-size: smaller;
}
.texte1 {
    font-size: small;
}
.im1 {
    width: 600px;
    height: 400px;
    padding-left: 50px;
}
#articles {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 900px;
}


input[type='image'] {
    width: 10px;
}


