@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anuphan:wght@100&family=Montserrat:wght@300;400&display=swap');



html{
    font-family:'Montserrat', sans-serif;
    font-size: 20px;
}

h1{
    font-family: 'Abril Fatface', cursive;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.parallax{
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.social-linkedin{
    background-color: blue;
}

.social-twitter{
    background-color: rgb(94, 169, 240);
}

.social-black{
    background-color: black;
}


/* navbar */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-nav {
    display: flex;
    justify-items: flex-end;
    list-style: none;
    align-items: end;
    justify-content: end;
}

li {
    padding: 0 10px;
    text-transform: uppercase;

}

/* section articles (accueil) */

.social {
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    list-style: none;
    
}
.social1 {
    color: white;
    background-color: cornflowerblue; 
}
.social2 {
    color: white;
    background-color: dodgerblue;
}
.social3 {
    color: white;
    background-color: black;
}


.firstdi {
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}
.avant {
    display: flex;
    flex-direction: column ;
}

.second img {
    height: 200px;
    width: 350px;
}
.second { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
h1 {
   font-family: 'abril fatface'; font-size: 50px;
   color: fuchsia;
}
h2 {
    font-size: 30px;
}
.down {
    color: fuchsia;
    text-decoration: underline;
    text-decoration-color: fuchsia;
}
h3 {
    color: fuchsia;
    font-size: 20px;
    line-height: 5px;
}
.date {
    font-size: 10px;
}
.texte {
    font-size: smaller;
}
.texte1 {
    font-size: small;
}
.im1 {
    width: 600px;
    height: 400px;
    padding-left: 50px;
}
#articles {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 900px;
    margin-top: 100px;
    gap: 30px;
}


input[type='image'] {
    width: 10px;
}


/* article */

#auteur img{
    width: 80%;
    margin-right: 559px;
}

#auteur{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}


#article{
    margin-left: 500px;
    margin-right: 150px;
}

#article h1{
    color: brown;
    font-size: 40px;
}

#article h2{
    color: blue;
}

#article h3{ 
    color: blue;
}

#auteur p {
    font-size: 18px;
}

#article p {
    margin-right: 179px;
    text-align: justify;
}


.social-media a{
    border: 2px solid black;
    padding: 10px;
    color: azure;
    margin: 10px;
}

.social-media{
    display: flex;
    list-style: none;
}




/* section à propos */

#about h1{
    color: black;
}
#about{
    padding: 5%;
    border: 2px solid pink;
    margin: 80px;
    box-shadow: 10px 5px 5px #fff;
    background-color: rgba(255, 255, 255, 0.7);
}

#àpropos{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    background-image: url(img/3892ddc66d8112551b93a9abf4e53d17.jpg);
}

#about-img img{
    margin-right: 70px;
}

#about img{
    width: 40%;
    margin: 0 30%;
    padding-top: 50px;
}

/* section contact */

#contact-form{
    background-image: url(img/3892ddc66d8112551b93a9abf4e53d17.jpg);
    height: 100vh;
}

#contact-box{
    width: 40%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7);
    margin: auto;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

#contact-box img{
    width: 20%;
}

#contact-box h1{
    color: black;
}


/* section CV page */

#presentation{
    background-image: url(img/3892ddc66d8112551b93a9abf4e53d17.jpg);
    height: 150vh;
}
#presentation-box{
    background-color: rgba(255, 255, 255, 0.8);
    width: 70%;
    margin: auto;
    height: 150vh;
}

#presentation-box h1{
    color: black;
    text-align: center;
    border: 2px solid purple;
    background-color: #fff;
    box-shadow: 20px 20px 20px fuchsia;
}


#profil-grid{
    display: grid;
    grid-template-columns: repeat(2, 500px);
    grid-template-rows: repeat(3, 400px);
    margin: 0 20%;
}


#profil-grid img{
    width: 40%;
    padding-top: 50px;
}

#profil-grid p{
    text-align: justify;
    border: 3px solid purple;
    background-color: #fff;
    padding: 20px;
    box-shadow: 20px 20px 20px fuchsia;
}


