@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anuphan:wght@100&family=Montserrat:wght@300;400&display=swap');



html{
    font-family:'Montserrat', sans-serif;
    font-size: 20px;
}

h1{
    font-family: 'Abril Fatface', cursive;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.social-media{
    display: flex;
    list-style: none;
    a{
        border: 2px solid blue;
        border-radius: 5px;
        padding: 10px;
        color: azure;
        margin: 10px;
        text-decoration: none;
    }
}

.social-linkedin{
    background-color: blue;
}

.social-twitter{
    background-color: rgb(94, 169, 240);
}

.social-black{
    background-color: black;
}