@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anuphan:wght@100&family=Montserrat:wght@300;400&display=swap');



html{
    font-family:'Montserrat', sans-serif;
    font-size: 20px;
}

h1{
    font-family: 'Abril Fatface', cursive;
    padding-bottom: 20px;
    text-transform: uppercase;
}

