#auteur img{
    width: 80%;
    margin-right: 559px;
}

#auteur{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}



#article{
    margin-left: 500px;
    margin-right: 150px;
    h1{
        color: brown;
        font-size: 40px;
    }
    h2{
        color: blue;
    }
    h3{ 
        color: blue;
    }
    p {
        margin-right: 179px;
        text-align: justify;
    }
}

#auteur p {
    font-size: 18px;
}

.social-media{
    display: flex;
    list-style: none;
    a{
        border: 2px solid black;
        padding: 10px;
        color: azure;
        margin: 10px;
    }
}
